
.services-slider-wrapper {
    overflow: hidden;
    width: 600px;
    min-width: 200px;
}

.services-slider-wrapper * {
    box-sizing: border-box;
}

.services-slider {
    transform-style: preserve-3d;
}

.service-item {
    height: 300px;
    width: 100%;
    opacity: 0;
    position: absolute;
    top:0;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.service-item .service-content {
    text-align: center;
}

.service-item.initial,
.service-item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.service-item.prev,
.service-item.next {
    z-index: 800;
}

.service-item.prev {
    transform: translateY(-100%);
}

.service-item.next {
    transform: translateY(100%);
}

.services-slider-next,
.services-slider-prev {
    cursor: pointer;
    font-size: 25px;
    color: #666666;
}
